// Core variables and mixins

$headerColor: #ffffff;

$introBgColor: #446D73;
$introColor: #ffffff;

$navbar-default-link-hover-color: $introBgColor !default;
$navbar-default-link-hover-bg: $introColor !default;
$navbar-default-link-active-color: $introBgColor !default;
$navbar-default-link-active-bg: $introColor !default;

$navbar-default-link-color: $introColor !default;

$competencesBgColor: #222D2F;
$competencesColor: #ffffff;

$parcoursBgColor: #821F31;
$parcoursColor: #ffffff;

$contactBgColor: #222D2F;
$contactColor: #ffffff;

//$border-radius-large:   40px !default;
$line-height-base:        22/14 !default;

$fa-font-path:   "fonts/" !default;
$icon-font-path: "fonts/" !default;

@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "bower_components/components-font-awesome/scss/font-awesome";

$seriousFont: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
$funnyFont: 'Indie Flower', 'Helvetica Neue', Arial, sans-serif;
a>span.down{@extend .glyphicon; @extend .glyphicon-chevron-down;margin-left: 5px;font-size: 10px;bottom: 4px;}
html{
  overflow-x: hidden;
}
html, body{
  height: 100%;
  font-family: $seriousFont;
}
.me{font-family: $funnyFont; font-size: larger; font-weight: 700}
header{
  .fonction{
    display: none;
  }
  width: 100%;
  height: 100%;
  background-image: url('https://images.unsplash.com/photo-1447752875215-b2761acb3c5d?crop=entropy&fit=crop&fm=jpg&h=800&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1550');
  background-size: cover;
  position: relative;
  color: $headerColor;
  .header-container{
    position: absolute;
    top:30%;
    width: 100%;
    .header-inner{
      //margin: 0 auto;
      @extend .text-center;
      margin-right: auto;
      margin-left: auto;
      max-width: 1000px;
      .title{
        h2{
          margin-bottom: 50px;
        }
      }
      .infos{
        display: none !important;
      }
      img{
        height: 100px;
        margin-bottom: 20px;
        @extend .img-circle;
        border: solid;
      }
      h1{
        //text-transform: uppercase;
        font-weight: 700;
        margin: 0;
      }
      a{
        margin-top: 80px;
        @extend .btn;
        @extend .btn-lg;
        background-color: $introBgColor;
        color: $introColor;
      }
    }
  }
}

section{
  padding: 40px 0;
  background-size: cover;
  h1{
    margin: 11px 0 22px;
  }
  .section-container{
    @extend .container;
    p a {color: $introColor; text-decoration: underline}
  }
}
#intro{
  background-color: $introBgColor;
  color: $introColor;
  .section-container>a{
    @extend .btn;
    @extend .btn-lg;
    background-color: $introColor;
    color: $introBgColor;
  }
}
#competences{
  background-color: $competencesBgColor;
  background-image: url('https://images.unsplash.com/photo-1443890923422-7819ed4101c0?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=d08144fcf8610012628be9e43708f226');
  .section-container{
    color: $competencesColor;
    h1{
      color: $competencesColor;
    }
    .competence{
      @extend .col-md-6;
      .inner{
        @extend .row;
        @extend .col-xs-12;
        background-color: transparentize($competencesBgColor, 0.2);
        padding-bottom: 20px;
      }
      //margin: 20px 0;
      h2{
        clear: both;
        @extend .col-xs-12;
      }
      .level{
        @extend .col-xs-12;
        .outer{
          @extend .progress;
          .inner{
            @extend .progress-bar;
            @extend .progress-bar-success;
            @extend .progress-bar-striped;
          }
        }
      }
      &.php>.inner>.level>.outer>.inner{width: 80%}
      &.htmlcssjs>.inner>.level>.outer>.inner{width: 90%;}
      .details{
        @extend .col-xs-12;
        @extend .list-unstyled;
        li{
          @extend .label;
          @extend .label-default;
          a{color: white;}
        }
      }
      .description{
        clear: both;
        @extend .col-md-12;
      }
    }
    >a{
      @extend .btn;
      @extend .btn-lg;
      background-color: $competencesColor;
      color: $competencesBgColor;
    }
  }
}

#parcours{
  h1{
    color: $parcoursColor;
  }
  background-color: $parcoursBgColor;
  color: $parcoursColor;
  position: relative;
  .timeline{
    &:before{
      top: 0;
      bottom: 0;
      position: absolute;
      content: " ";
      width: 3px;
      background-color: #eeeeee;
      left: 50%;
      margin-left: -1.5px;
    }
    color: #000000;
    @extend .list-unstyled;
    li{
      @extend .row;
      position: relative;
      margin: 0;
      clear: both;
      width: 100%;
      &:nth-of-type(odd){
        .timeline-panel{
          @extend .left;
        }
      }
      &:nth-of-type(even){
        .timeline-panel{
          float: right;
          @extend .right;
        }
      }
      .timeline-badge{
        @extend .badge;
        position: absolute;
        left: 50%;
        background-color: white;
        color: lighten(#000000, 50);
        font-size: 20px;
        padding: 10px;
        border-radius: 30px;
        margin-left: -20px;
        top: 50%;
        margin-top: -20px;
        border: solid 1px lighten(#000000, 80);
        .icon{
          @extend .glyphicon;
          @extend .glyphicon-ok;
          width: 20px;
          height: 20px;
        }
      }
      .timeline-panel{
        @extend .popover;
        @extend .fade;
        @extend .in;
        z-index: 0 !important;
        display: block;
        position: relative;
        max-width: none;
        width: 45%;
        .timeline-heading{
          @extend .popover-title;
          h2{}
          .time{
            color: #999999;
            float: right;
          }
        }
        .timeline-body{
          @extend .popover-content;
        }
      }
    }
  }
  .section-container>a{
    @extend .btn;
    @extend .btn-lg;
    background-color: $competencesColor;
    color: $competencesBgColor;
  }
}

#projets{
  background-image: url('https://images.unsplash.com/1/type-away-numero-dos.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&h=800&crop=entropy&s=93ace5960cf6a5f05c4805589e65ce7c');
  .inner{
    .section-container{
      .project{
        @extend .col-lg-4;
        @extend .col-sm-6;
        @extend .col-xs-12;
        .inner{
          @extend .panel;
          @extend .panel-default;
          h2{
            @extend .panel-heading;
            margin: 0;
            font-size: 15px;
            font-weight: bold;
          }
          img{
            width: 100%;
          }
          .description{
            @extend .panel-body;
          }
        }
      }
    }
  }
}

#contact{
  background-color: $contactBgColor;
  color: $contactColor;
  .inner{
    .section-container{
      ul{
        @extend .row;
        @extend .col-xs-6;
        @extend .list-unstyled;
        &.contacts{
          li{
            i{
              width: 20px;
            }
          }
        }
        &.links{
          @extend .text-right;
          li{
            display: inline-block;
            a{
              color: $contactColor;
              margin-left: 20px;
              i{
                font-size: 40px;
              }
            }
          }
        }
      }
    }
  }
}

nav{
  @extend .navbar;
  @extend .navbar-fixed-top;
  @extend .navbar-default;
  transition: all 1s;
  >div>a{
    @extend .navbar-brand;
    font-family: $funnyFont;
  }
  background: none;
  border: none;
  &.scrolled{
    background-color: $introBgColor;
  }
  div{
    @extend .container;
    ul{
      @extend .nav;
      @extend .navbar-nav;
      @extend .navbar-right;
      li{
        a{

        }
      }
    }
  }
}

footer{
  text-align: center;
  padding: 50px 0;
}